node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
package-lock.json
yarn.lock
__pycache__/
../api_lontra/lontra/__pycache__/
../api_lontra/lontra/migrations/__pycache__/
../api_lontra/lontra_api/__pycache__/
../api_lontra/db.sqlite3


